<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

    <script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>
    <script src="angular-resizable/angular-resizable.min.js"></script>

    <script src="javascripts/app.js"></script>
</head>
<body ng-app="mainapp">
    <div ng-view></div>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>