<div class="col-xs-12">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Ship Analytics</h3>
        </div>
        <div class="box-body">
          <div class="col-xs-12 chart-options">
            <select class="form-control" ng-model="scope1" ng-change="typeAnalytics()">
              <option value="country">Country Analytics</option>
              <option value="category">Category Analytics</option>
            </select>
          </div>
          <div class="chart col-xs-12">
            <canvas id="p1" class="chart chart-pie" chart-data="country_category_data" chart-labels="country_category_labels" chart-options="{legend: {display: true}}">
            </canvas>
          </div>
          <br>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Port Analytics</h3>
        </div>
        <div class="box-body">
          <div class="col-xs-12 chart-options">
            <select class="form-control" ng-model="scope2" ng-change="portAnalytics()">
              <option value="origin">Port of origin</option>
              <option value="destination">Port of destination</option>
            </select>
          </div>
          <div class="chart col-xs-12">
            <canvas id="p2" class="chart chart-pie" chart-data="origin_dest_data" chart-labels="origin_dest_labels" legend='true' series="origin_dest_labels" chart-options="{legend: {display: true}}">
            </canvas>
          </div>
          <br>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Container analytics</h3>
        </div>
        <div class="box-body">
          <div class="col-xs-12 chart-options">
            <select class="form-control" ng-model="scope3" ng-change="containerAnalytics()">
              <option ng-repeat="opt in ['China', 'UAE', 'India', 'Singapore']" value="{{opt}}">{{opt}}</option>
            </select>
          </div>
          <div class="chart col-xs-12">
            <canvas id="line" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-colors="colors">
            </canvas>
          </div>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>
