<div class="col-xs-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      All Ships
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="col-xs-12" ng-show="showing == 'table' || showing == 'all'" ng-class="{'col-md-6': (showing == 'all')}">
        <div class="row">
          <div class="table-responsive" style="max-height: 70vh">
            <table class="table table-striped table-hover table-fixed">
              <thead>
                <tr>
                  <th ng-click="sort('imo_number')">
                    IMO Number
                    <i class="fa" ng-show="sortBy=='imo_number'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                    <span class="fa fa-stack" ng-show="sortBy!='imo_number'">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                    </span>
                  </th>
                  <th ng-click="sort('name')">
                    Name
                    <i class="fa" ng-show="sortBy=='name'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                    <span class="fa fa-stack" ng-show="sortBy!='name'">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                    </span>
                  </th>
                  <th ng-click="sort('country')">
                    Country
                    <i class="fa" ng-show="sortBy=='country'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                    <span class="fa fa-stack" ng-show="sortBy!='country'">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                    </span>
                  </th>
                  <th ng-click="sort('origin')">
                    Origin
                    <i class="fa" ng-show="sortBy=='origin'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                    <span class="fa fa-stack" ng-show="sortBy!='origin'">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                    </span>
                  </th>
                  <th ng-click="sort('destination')">
                    Destination
                    <i class="fa" ng-show="sortBy=='destination'" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                    <span class="fa fa-stack" ng-show="sortBy!='destination'">
                      <i class="fa fa-caret-up"></i>
                      <i class="fa fa-caret-down"></i>
                    </span>
                  </th>
                  <th>Container ID</th>
                  <th>Category</th>
                  <th>Commodity</th>
                  <th>View Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input class="form-control" type="text" name="" ng-model="search.imo_number">
                  </td>
                  <td>
                    <input class="form-control" type="text" name="" ng-model="search.name">
                  </td>
                  <td>
                    <select class="form-control" ng-model="search.country">
                      <option value="">All Countries</option>
                      <option ng-repeat="opt in ['China', 'India', 'Singapore', 'UAE']" value="{{opt}}">{{opt}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" name="" class="form-control" ng-model="search.origin">
                  </td>
                  <td>
                    <input type="text" name="" class="form-control" ng-model="search.destination">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="search.content.container_id">
                  </td>
                  <td>
                    <select class="form-control" ng-model="search.content.category">
                      <option value="">All Categories</option>
                      <option ng-repeat="category in ['Chemicals', 'Consumer Goods', 'Food Products', 'Metals']" ng-value="category">{{category}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="search.content.commodity">
                  </td>
                  <td></td>
                </tr>

                <tr dir-paginate="ship in ships | itemsPerPage: itemsPerPage | filter: search | orderBy:sortBy:reverse" total-items="data.total_count">
                  <td>{{ship.imo_number}}</td>
                  <td>{{ship.name}}</td>
                  <td>{{ship.country}}</td>
                  <td>{{ship.origin}}</td>
                  <td>{{ship.destination}}</td>
                  <td>
                    <div ng-repeat="content in ship.content | filter: search.content">
                      {{content.container_id}}
                    </div>
                  </td>
                  <td>
                    <div ng-repeat="content in ship.content | filter: search.content">
                      {{content.category}}
                    </div>
                  </td>
                  <td>
                    <div ng-repeat="content in ship.content | filter: search.content">
                      {{content.commodity}}
                    </div>
                  </td>
                  <td ng-click="view_details(ship)"><span class="text-info pointer">View Details</span></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
        <div class="row">
          <dir-pagination-controls max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="getData(newPageNumber)" 
            class="col-xs-12 text-center">
          </dir-pagination-controls>
        </div>
      </div>
      <div class="col-xs-12" ng-show="showing == 'map' || showing == 'all'" ng-class="{'col-md-6': (showing == 'all')}">
        <!-- need to remove hardcoded values for center -->
        <ng-map id="map" zoom="4" center="[17, 67]" style="height: 70vh;">
          <marker ng-repeat="ship in ships | filter: search"
            position="[{{ship.latitude}}, {{ship.longitude}}]"
            data="{{ship.name}}"
            on-click="showData()"></marker>
        </ng-map>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</div>

<div class="col-xs-12 text-center">
  <br>
  <button class="btn btn-primary" ng-click="showing='table'">Show Table</button>
  <button class="btn btn-primary" ng-click="showing='all'">Show both</button>
  <button class="btn btn-primary" ng-click="showing='map'">Show Map</button>
</div>

<div id="shipDetails" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{selected_ship.name | uppercase}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <img class="col-xs-12 photo-margin" ng-src="{{selected_ship.picture}}"/>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <br>
              <label class="col-xs-6 text-right">IMO Number</label>
              <div class="col-xs-6">{{selected_ship.imo_number}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Latitude </label>
              <div class="col-xs-6">{{selected_ship.latitude}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Longitude </label>
              <div class="col-xs-6">{{selected_ship.longitude}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Speed</label>
              <div class="col-xs-6">{{selected_ship.speed}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin" ng-if="selected_ship.teu">
            <div class="row">
              <label class="col-xs-6 text-right">TEU</label>
              <div class="col-xs-6">{{selected_ship.teu}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin" ng-if="selected_ship.dwt">
            <div class="row">
              <label class="col-xs-6 text-right">DWT</label>
              <div class="col-xs-6">{{selected_ship.dwt}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Country</label>
              <div class="col-xs-6">{{selected_ship.country}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Port of destination</label>
              <div class="col-xs-6">{{selected_ship.destination}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin">
            <div class="row">
              <label class="col-xs-6 text-right">Port of origin</label>
              <div class="col-xs-6">{{selected_ship.origin}}</div>
            </div>
          </div>
          <div class="col-xs-12 info-margin text-center">
            <br>
            <label>Contents</label>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Container ID</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Commodity</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="content in selected_ship.content | orderBy:'container_id'">
                  <td>{{content.container_id}}</td>
                  <td>{{content.category}}</td>
                  <td>{{content.commodity}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#individualMap">View on map</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="individualMap" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{selected_ship.name}}</h4>
      </div>
      <div class="modal-body">
        <ng-map id="map" zoom="4" center="[{{selected_ship.latitude}}, {{selected_ship.longitude}}]">
          <marker position="[{{selected_ship.latitude}}, {{selected_ship.longitude}}]"></marker>
        </ng-map>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->